

#navbar{
    flex-direction: row;

}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;


}

#home{
    height: 390px;
    padding: 3px 68px;
    
}

#home::before{
    height: 400px;
    
}


#home p{
    font-size: 13px;
    padding: 7px 150px;

}


#services{
    flex-direction: column;

}
#service .box{
    padding: 14px;
    margin: 2px 15px;
    margin-bottom: 20px;
}

#services .box img{
    height: 119px;
    width: 120px;
}

#clients{
    flex: wrap;

}

#clients img{
    width: 66px;
    padding: 2px 6px;
    height: 40px;
}

#contact-box form{
    width: 80%;
}

.h-primary{
    font-size: 20px;
}

.btn{
    font-size: 13px;
    padding: 4px 8px;
}